*{
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.menu_up{
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-between;
	background: #222222;
	align-items: center;
}
.center{
	padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.logo{
	padding-right: 41px;
}
.login{
	padding-left: 41px;
    padding-right: 41px;
}
.promo{
	padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
	display: flex;
	justify-content: space-between;
	height: 764px;
	background: #F1E4E6;
}
.promoRight{
	width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promoText{

}
.catalog{
	padding-top: 65px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.imageCatalog{
	opacity: 0.5;
}
.image_catalog{
	position: relative;
}

.catalogText{
	position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.imageCatalog__Big{
	opacity: 0.5;
}
.image_catalogBig{
	position: relative;
}
.container_item{
	padding-top: 96px;
}
.item_text{
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item__box{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 48px;
}
.item{
	width: 359px;
	background: #F8F8F8;
	margin-bottom: 30px;
}
.button{
	border: 1px solid #FF6A6A;
    color: #F26376;
    padding: 14px 38.5px;
    text-align: center;
    display: inline-block;
    margin: 63px auto;
    font-size: 16px;
    line-height: 19px;
}
.button:hover{
	background: #F16D7F;
	color:#F8F8F8;
}
.footer_up{
	height: 341px;
	background: #222224;
}
.footerUpItem{
	height: 341px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footerItem{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
}
.FooterItem_text{
	color: #FBFBFB;
}
.footer_centr{
	height: 448px;
	background-image: url(image/subscribe.jpg);
	background-size: cover;
}
.footerImg{
	width: 100%
	height: 448px;
}
.footer_end{
	height: 79px;
	background: #222224;
}
.iconFooterEnd{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.copyright{
	align-items: center;
    display: flex;
	height: 79px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FBFBFB;
}
.icon_footer{
	display: flex;
	gap:7px;
}
.iconFooter{
	width: 32px;
	height: 32px;
	background-color: #FFFFFF;
	display:flex;
	align-items: center;
	justify-content: center;
}
.iconFooter:hover{
	background-color: #F16D7F;
}

/*catalog*/
.nav_catalog{
	height: 148px;
	background: #F8F3F4;
}
.nav_item{
	height: 148px;
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.nav_click{
	color: #636363;
}
.nav_click:hover{
	color: #F16D7F;
}
/*Product*/
.content_product{
	height: 777px;
	background: #F7F7F7;
	display: flex;
	justify-content: center;
}
.addCard{
	height: 600px;
	margin-top: -40px;
	background: #FFFFFF;
	border: 1px solid #EAEAEA;
}